{% extends "Elective/layout.html" %}
{% block content %}
    <h2>FAQ</h2>

    <h4>How do i give my preferences for elective subjects?</h4>
    <p>
        Applications for elective subjects can only submitted after you login.
        You can submit application for an elective if your batch is in its list
        of batches.
    </p>

    <h4>How can i generate email and password for login?</h4>
    <p>
        You need to visit your department's office along with your ID card,
        to get your email and other details registered. And then you will be able to
        login with the registerd email.
    </p>

    <h4>Why do i need to give preferences for all the subjects of an elective?</h4>
    <p>
        We need preferences for all the subjects because, the number of students that can be
        enrolled in each subject has a minimum and maximum limit.
    </p>

    <h4>How are the subjects allocated to students?</h4>
    <p>
        Elective subjects are allocatted based on the CGPA that students.
    </p>
{% endblock content %}