{% extends "Elective/layout.html" %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <form action="{% url 'open_elective_application' application.elective.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <legend class="border-bottom mb-4">Arrange subjects according to your preference!</legend>
                </div>
                <div class="card">
                    <ul class="list-group list-group-flush" id="sortable">
                        {% for preference in application.subject_preferences.all|dictsort:"preference_number" %}
                            <li id="{{ preference.subject.id }}" class="list-group-item">{{ preference.subject }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <input type="text" class="form-control" name="preferences" hidden>
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <input type="number" step=0.01 min=0 max=10 class="form-control" name="cgpa" placeholder="CGPA" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success btn" type="submit">Submit Application</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'Application/script.js' %}"></script>
{% endblock %}